@import url('https://fonts.googleapis.com/css?family=Heebo|Open+Sans|Quicksand|Permanent+Marker');

body {
  margin: 0;
  padding: 0;
font-family: 'Heebo';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-bar{
  border: solid, #ffd29d;
  background-color: #ffd29d;
  padding-bottom: 25px;
  margin-top: 0px;
}
